{% extends "base.html" %}

{% block content %}
    <section class="content">
        <h2>What are you looking for</h2>
        <article>
        <p><ul>
            <li>If you click on “WHAT TO DO”, you can add your place or/and activity to your wish-list.
            You can always modify or delete it.
            You can also empty whole list if you have already travelled by clicking on "delete all". </li>
            <li> You can also get more information from Wikipedia about the place you plan to visit </li>
            <li> If you click on "INFORMATION", you can get the address of places you want to visit in english and in local language. </li>
            <li> Also in 'INFORMATION' page, you can get the forecast weather of any city you travel to. </li>
            <li> if you have more questions or suggestions, feel free to contact us at yourtravelhub@travel.com</li>
            </ul>
        </p>
        </article>
    </section>
{% endblock %}